<html?
<head>
<link rel="stylesheet" type="text/css" href="{{static_url("bootstrap/css/bootstrap.min.css")}}">
<script src="{{static_url("bootstrap/jquery-1.11.3.js")}}"></script>
<script src="{{static_url("bootstrap/js/bootstrap.min.js")}}"></script>
</head>
<body>
<div class="container-fluid">
	<div class="row-fluid">
		<div class="span12">
			<h1 class="text-center">
				<em>博客列表</em>
			</h1>
			<div class="row-fluid">
				<div class="span2">
					<img alt="140x140" src="{{static_url("img/a.jpg")}}" />
				</div>
				<div class="span6">
                {% for blog in blogs %}
					<p align="center">
						<strong>{{blog['title']}}</strong>
					</p>
					<p align="right">
						<span class="Time">{{blog['date']}}</span>
					</p>
					<div class="Article">
					<p>
						{{blog['content']}}
					</p>
					</div>
					<br></br>
					{% end %}
				</div>
				<div class="span4">
					<button class="btn btn-success btn-large" type="button" onclick="window.location='/write'">写博客</button>
					<br></br>
					<form method="post" action="/delete">
					    <button class="btn btn-danger btn-large" type="submit">删除所有博客</button>
					</form>
					<button onclick="window.location='/logout'" class="btn btn-danger btn-large">注销</button>
				</div>
			</div>
		</div>
	</div>
</div>
</body>
</html>