<html lang="zh-CN">
<head>
<link rel="stylesheet" type="text/css" href="{{static_url("bootstrap/css/bootstrap.min.css")}}">
<script src="{{static_url("bootstrap/jquery-1.11.3.js")}}"></script>
<script src="{{static_url("bootstrap/js/bootstrap.min.js")}}"></script>
</head>
<body>
<div class="container-fluid">
	<div class="row-fluid">
		<div class="span12">
			<h3 class="text-center text-info">
				<em>书写你的博客</em>
			</h3>
			<div class="row-fluid">
				<div class="span4">
					<img alt="140x140" src="{{static_url("img/a.jpg")}}" class="img-rounded" />
				</div>
				<form method="post">
				<div class="span4">
					<p>
						<input name="title" type="text" placeholder="在这里输入你的标题"/>
					</p>
					<textarea type="text" class="Article" id="myArticle" name="content" placeholder="在这里输入你的正文" style="margin: 0px 0px 10px; width: 481px; height: 553px;"></textarea>
				</div>
				<div class="span4">
					 <button class="btn btn-large btn-block btn-success" type="submit">写好了</button>
				</div>
				</form>
			</div>
		</div>
	</div>
</div>
</body>
</html>